# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [49]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np

baltimore = pd.read_csv('baltimore_9-24-2016_9-30-2017.csv')
boston = pd.read_csv('boston_9-24-2016_9-30-2017.csv')
new_york = pd.read_csv('new-york_9-24-2016_9-30-2017.csv')
philly = pd.read_csv('philadelphia_9-24-2016_9-30-2017.csv')

In [50]:
philly.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,PHILADELPHIA,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/16/2017,140,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,140,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

In [51]:
for col in baltimore.columns:
    pct_missing = np.mean(boston[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 92%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [52]:
print(baltimore.columns.tolist())

['Commodity Name', 'City Name', 'Type', 'Package', 'Variety', 'Sub Variety', 'Grade', 'Date', 'Low Price', 'High Price', 'Mostly Low', 'Mostly High', 'Origin', 'Origin District', 'Item Size', 'Color', 'Environment', 'Unit of Sale', 'Quality', 'Condition', 'Appearance', 'Storage', 'Crop', 'Repack', 'Trans Mode']

In [53]:
# Clean your data here!
baltimore = baltimore.drop(columns=['Type', 'Grade', 'Origin District', 'Environment', 'Quality', 'Unit of Sale', 'Condition', 'Appearance', 'Storage', 'Crop'])
boston = boston.drop(columns=['Sub Variety', 'Grade', 'Environment', 'Color', 'Unit of Sale', 'Condition', 'Appearance', 'Storage', 'Trans Mode'])
new_york = new_york.drop(columns=['Sub Variety', 'Grade', 'Environment', 'Color', 'Unit of Sale', 'Condition', 'Appearance', 'Storage', 'Trans Mode'])
philly = philly.drop(columns=['Sub Variety', 'Grade', 'Environment', 'Color', 'Unit of Sale', 'Condition', 'Appearance', 'Storage', 'Trans Mode'])

In [54]:
baltimore.head()

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,lge,NaN,E,NaN
1,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,lge,NaN,E,NaN
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,med,NaN,N,NaN
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,med,NaN,N,NaN
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,lge,NaN,N,NaN

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [70]:
# Combine the four dataframes into one!
northeast_combined = (
    baltimore.merge(boston, on='City Name', how='outer', suffixes=('_bal', '_bos'))
             .merge(new_york, on='City Name', how='outer', suffixes=('', '_ny'))
             .merge(philly, on='City Name', how='outer', suffixes=('', '_phi'))
)

In [71]:
northeast_combined

,Commodity Name_bal,City Name,Package_bal,Variety_bal,Sub Variety,Date_bal,Low Price_bal,High Price_bal,Mostly Low_bal,Mostly High_bal,...,Low Price_phi,High Price_phi,Mostly Low_phi,Mostly High_phi,Origin_phi,Origin District_phi,Item Size_phi,Quality_phi,Crop_phi,Repack_phi
0,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,04/29/2017,270.0,280.0,270.0,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,05/06/2017,270.0,280.0,270.0,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160.0,160.0,160.0,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160.0,160.0,160.0,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90.0,100.0,90.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,NaN,PHILADELPHIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,18.0,16.0,18.0,OHIO,NaN,NaN,NaN,NaN,N
670,NaN,PHILADELPHIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.0,20.0,18.0,20.0,MICHIGAN,NaN,NaN,NaN,NaN,N
671,NaN,PHILADELPHIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,16.0,16.0,16.0,OHIO,NaN,NaN,NaN,NaN,N
672,NaN,PHILADELPHIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.0,16.0,15.0,16.0,OHIO,NaN,NaN,NaN,NaN,N
673,NaN,PHILADELPHIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.0,18.0,15.0,18.0,OHIO,NaN,NaN,NaN,NaN,N

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region? 
2. For each region, what is the average number of pumpkins per variety that came into terminal markets for the year?

In [72]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

In [73]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [74]:
# Try the bonus mission if you have time!