# Welcome to the Data Manipulation Exercises

The workbook has been broken up into three sections.  Each section correlates to a reading assignment within the textbook.

In [1]:
import pandas as pd
import numpy as np

data= pd.read_csv("titanic.csv")

## Before You Get Started

We are going to be using the Titanic Dataset. Make sure to run a head() before you start working with manipulation methods.

In [2]:
# Run the head of your data set here:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
# check for duplicates
data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
886     True
887    False
888    False
889    False
890    False
Length: 891, dtype: bool

In [4]:
# if there are, go ahead and drop them:
data.drop_duplicates()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

### Cleaning Note:

While the columns are not the "prettiest", don't adjust any of them yet. We are going to update some values and add some values as we workthrough this notebook. Apologies for the extra visual "noise" on your screen. You will be given the option to tidy up the columns at the end of this notebook.

## Running Tables Note:  
If your tables don't appear to have accepted your changes, try the "Run All" option in the "Cell" section of the menu bar.

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# A. Aggregation

1. Work through the section Exercises.  
    - There are 4 sections in part A:
        - Groupby
        - Aggregation Methods
        - Groupby and Basic Math
        - Groupby and Multiple Aggregations

#### Creating Variables.

As we begin to manipulate our data, create new variables to store your work in.  This will keep your original data in tact.  Having the original dataset available will save you time with each manipulation.  You can also create variable names that inform you of the purpose of the manipulation.

### 1: Groupby <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

#### Groupby "embark_town"

1. Using the titanic data set, groupby "embark_town".
1. Create a variable that will represent the grouping of data. 
1. Initialize it using the groupby() function and pass it the column.

In [5]:
# Code your groupby "embark_town" here:
grouping_variable = data.groupby('embark_town')

In [6]:
# To view the grouped data as a table, use the variable_name.first():
grouping_variable.first()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,alive,alone
embark_town,,,,,,,,,,,,,,
Cherbourg,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,yes,False
Queenstown,0,3,male,2.0,0,0,8.4583,Q,Third,man,True,C,no,True
Southampton,0,3,male,22.0,1,0,7.2500,S,Third,man,True,C,no,False

#### Groupby "survived"

Did you know that you can also chain on some of our exploratory methods to the groupby method?

1. Create & initalize a new variable to hold a table that will groupby "survived" 
1. Use method chaining to tack on the describe method

In [7]:
# Code your groupby "survived" table here:
survived_group = data.groupby('survived')

# run your table below:
survived_group.first()

,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
survived,,,,,,,,,,,,,,
0,3,male,22.0,1,0,7.2500,S,Third,man,True,E,Southampton,no,False
1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False

In [8]:
# run your table with describe
survived_group = data.groupby('survived').describe()
survived_group

         pclass                                                 age  \
          count      mean       std  min  25%  50%  75%  max  count
survived
0         549.0  2.531876  0.735805  1.0  2.0  3.0  3.0  3.0  424.0
1         342.0  1.950292  0.863321  1.0  1.0  2.0  3.0  3.0  290.0

                     ... parch        fare                             \
               mean  ...   75%  max  count       mean        std  min
survived             ...
0         30.626179  ...   0.0  6.0  549.0  22.117887  31.388207  0.0
1         28.343690  ...   1.0  5.0  342.0  48.395408  66.596998  0.0


              25%   50%   75%       max
survived
0          7.8542  10.5  26.0  263.0000
1         12.4750  26.0  57.0  512.3292

[2 rows x 40 columns]

In [9]:
# How is this table organized?  Why are there 40 columns now?
#It is giving descrptive stats about the survived data

### 2. Aggregation Methods <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

Note: **agg()** and **aggregate()** are identical [source](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.aggregate.html)

#### Method Chaining

1. Create a variable to method chain **head()** and **agg()** togehter.
1. Pass one of the following statistical values to **agg()**
   - "mean", "median", "mode", "min", "max", "std", "var", "first", "last", "sum"

In [10]:
# Code your method chain here:
method_chain = data.head().agg()

TypeError: Must provide 'func' or tuples of '(column, aggfunc).

In [ ]:
# Create a variable to method chain head() with agg("sum")
method_chain = data.head().agg("sum", numeric_only=True)  
# run your table:
method_chain

survived        3.0000
pclass         11.0000
age           156.0000
sibsp           3.0000
parch           0.0000
fare          147.6083
adult_male      2.0000
alone           2.0000
dtype: float64

In [ ]:
# Explain the sum table.  What is going on with the "sex", "class", and "alive" columns?
#they are strings so they cant be summed

#### Using a Dictionary <span style="color:darkorange;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 
##### A dictionary is a Python collection type.  

Is a collection type that stores **key-value pairs**.  A key-value pair is an organization system that is made up of a single *key* that has one or more *values* paired with it.  
Think of it like your contacts list.  The contacts list is the dictionary object.  
Each contact is organized by a key, usually name.  And attached to each name is contact information, or the values.
Some contacts might have email address, phone number, home or work address, etc. Other contacts may just be a name and phone number.  This is a very simple example, but understanding this organizational structure will be helpful as you learn to manipulate tables.  

*Here is a dictionary example with 3 keys:*
>**contacts_dictionary = {"name1": ["email", 555-5552, "work info"], 
      "name2": ["email", 555-5554],
      "name3": 555-5555}**
                     
*Here is a dictionary example with a single key-value pair*
**study_group_dictionary = {"john": ["john@email.com", 555-555-5555, "works at LaunchCode headquarters"]}**   

It has a single key, and a list of values. The organization of this structure is called a "Key-Value Pair".
Using the contact list example, the key would be the name of the person and the values would be their contact information.  The key is a single item (the person's name) and the values can be a single item (an email address) or mulitple items (email, phone number, address, work info, etc).
Keys and values can be any data type, but must use correct data type syntax.  The keys do not have to be strings, but they do need to be a single value.  

For more information, you can read more on dictionary objects [here](https://www.w3schools.com/python/python_dictionaries.asp).

#### Aggregation across multiple columns using dictionary functionality

##### Syntax Example:

**age_dictionary={"age":["sum", "max"]}**

We are creating a new dictionary (**age_dictionary**).  The key is **age** and the values we want are **"sum""** and **"max"**.  This dictionary object has now become a tempate for the aggregations we want to preform.  However, on it's own, it does nothing.  Once passed to the **agg()** method, it will pick out the specific location of data we want to examine.  Making a subset table.  

The code is contained in the box below.  Run it and see what happens.


For syntax examples, review [this webpage](https://www.geeksforgeeks.org/python-pandas-dataframe-aggregate/).
#### <span style="color:coral;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

In [ ]:
# Predict the table output before you uncomment the code below.

age_dictionary={"age":["sum", "max"]}
dictionary_agg=data.agg(age_dictionary)
dictionary_agg

          age
sum  21205.17
max     80.00

1. What if we want to look at more than one column at a time?  We pass more dictionaries to the agg function.
1. Create a variable to hold at least 3 columns.  Use the syntax from the "Syntax Example" as a guide.
    - Aggregate the following:  survived: "sum" & "count"; age: "std" & "min", and sibsp: "count" & "sum"

In [11]:
# Code your dictionary here:
new_table = data.agg({
    'survived' : ['sum','count'], 
    'age' : ['std', 'min'],
    'sibsp' : ['count','sum'],
})
new_table

       survived        age  sibsp
sum       342.0        NaN  466.0
count     891.0        NaN  891.0
std         NaN  14.526497    NaN
min         NaN   0.420000    NaN

### 3. Groupby and Basic Math <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 

1. Groupby "pclass".  Make sure you use a variable to hold your grouped data.

In [60]:
# Code your groupby here:
passenger_class = data.groupby('pclass')


# <WARNING> For this section, you will need to filter out non-numeric data to run the aggregations
## Uncomment the line below, and use this 'num_only_data' variable as needed for Section 3 and Section 4
# num_only_data = data.select_dtypes(include='number')


# Run your table using first() here instead of head():
passenger_class.first()

,survived,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
pclass,,,,,,,,,,,,,,
1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,female,14.0,1,0,30.0708,C,Second,child,False,D,Cherbourg,yes,False
3,0,male,22.0,1,0,7.2500,S,Third,man,True,G,Southampton,no,False

### 4. Groupby and Multiple Aggregations <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

#### Group with a List<span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

1. We want to do muliple aggregation functions to our newly grouped data set.  We created a variable to hold a list of functions we want to perform.  These functions are part of the agg method.  When we pass our list to the method, the method will iterate through each item and perform that function for the entire table.

In [62]:
# our list of functions
agg_func_list = ['sum', 'mean', 'median', 'min', 'max', 'std', 'var', 'first', 'last', 'count']


#Apply the agg method to our passenger_class variable (made in the Groupby Basic Math section).  
# Pass our list to the function and run your table.

passenger_table = passenger_class.agg(agg_func_list)

TypeError: agg function failed [how->mean,dtype->object]

#### Group with a Dictionary<span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

Using only a list provides us with the entire table.  What if we only want to look at age vs pclass?  

we can create a dictionary to hold the age column for us.  The *key* would be the name of our column, and the values our list of functions to perform on that column.  The code would look like this:

In [ ]:
agg_func_dict = {
    'age':
    ['sum', 'mean', 'median', 'min', 'max', 'std', 'var', 'first', 'last', 'count']
}
# We would run our table like this:
# passenger_class.agg(agg_func_dict)

Looking at the *age_func_dict* syntax, create a dictionary variable for the "survived" column and pass it to **passenger_class.agg()** in the box below.

In [ ]:
# Code it here:

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# B. Recoding and Creating New Values and Variables 

1. Work through the Part B, there are 3 sections

### Create a New Column <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 

In the box below:
1. Create a new column by manipulating the values of an existing column.  Specifically, create a new column, "fare_2021" that allows us to compare the cost of fare in pounds back in 1912 to 2021.  [This website](https://www.in2013dollars.com/uk/inflation/1912) can help you find the 2021 fare amount.

In [ ]:
# Code your new "fare_2021" column here:

# Run the head of your table to see your new column:

### Replacing Values <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 
 
Replace the string-based "yes","no" values in the "alive" column using booleans, replacing "yes" values with True and "no" values with False.

In [ ]:
# Code your updated values here:

We can also use functions to update values.

1. Create a function that will convert the string-based "alive" values of "yes" or "no" to a boolean value of True or False. Apply it to your table and run your table here:

In [ ]:
# Code your function here:

### Using a function to create a new column <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 

Sometimes you might want to create a new column based on combining multiple columns together.

1. create an "age_group" column that breaks years up as 0-19, 20-29, 30-39, etc until all given ages are covered.  Make sure you check to see where you can stop counting by 10s.

In [ ]:
# Write your max age check here:

In [ ]:
# Code the new "age_group" column function here:

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# C. Reshaping Tables

1. Work through Part C, there are 4 sections

### Sort_values <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

Use **sort_values()** to answer the following question:
> What is the age of the person who paid the highest fare?

Hint: We want to see the highest fare value first. To find this, should we set the sort order to ascending or descending?  Check the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html?highlight=sort_values#pandas.DataFrame.sort_values) for the syntax.

In [ ]:
# Code your sort_values here:


# Run your table here:

### pivot_table <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 
1. pivot the table of the summed data where the values are "fare", index is "who" and "age_group", and the columns are "survived"

Hint: set the aggfunc parameter to np.sum

In [ ]:
# Code your pivot_table here:


# Run your table here:

### Wide to Long <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 

1. Create a table where the columns are "who" and the values are "pclass"
1. Answer the question:  How does this table differ from the pivot_table above?  Specifically, how is "who" different?

In [ ]:
# Code your table here:


# Run your table here:


# Answer the question here:

### Melt <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

1.  What does the **melt** function do to the data?

In [ ]:
# What does melt do?

2.  With a new variable, apply a default melt to your data.

In [ ]:
# Create your default melt table here with the following syntax:  new_name = pd.melt(data_set)

# Run your table here:

# Check the shape of your new table.

3. Create a melt table where the index variables are "embarked", and the values are "fare" and "deck"

In [ ]:
# Create your melt table here:

# Run your table here:

# Check the shape

# Optonal Challenges:

1. Clean and Explore the table.  
    1. How would you handle any missing data?
    1. Would you keep all of the columns?
    1. Would you want to manipulate any data?